@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  ::before,
  ::after {
    border-width: 0;
    border-style: solid;
    border-color: theme("borderColor.DEFAULT", currentColor);
  }
  html {
    font-family: "Montserrat", sans-serif;
  }
  body {
    @apply text-stone-500 dark:text-stone-300 bg-white dark:bg-stone-900;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

@layer components {
  .todo-item-notcompleted {
    @apply border border-stone-500 px-1 py-1 rounded-xl hover:border-stone-300 transition;
  }

  .todo-item-completed {
    @apply border border-teal-700 px-1 py-1 rounded-xl hover:border-teal-300 transition;
  }
}
